/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ----------------------------- */
/* Custom Properties             */
/* ----------------------------- */
:root {
  /* font-family */
  --ff-heading: "Rubik", sans-serif;
  --ff-body: "Poppins", sans-serif;

  /* colors */
  --primary: #fde68a;
  --primary-light: #fef9c3;
  --text-dark: #333333;
  --text-gray: #334155;
  --light: #eff6ff;
  --gray: #f8fafc;
  --dark: #854d0e;

  /* font-sizes */
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.125rem;
  --body-lg: 1.125rem;
  --body: 1rem;
  --body-sm: 0.875rem;
}

@media (min-width: 768px) {
  :root {
    /* font-sizes */
    --h1: 4.5rem;
    --h2: 3.5rem;
    --h3: 2rem;
  }
}

/* ----------------------------- */
/* Reset                         */
/* ----------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Body */

body {
  font-family: var(--ff-body);
  font-size: var(--body);
  color: var(--text-dark);
  line-height: 1.5;
  background-color: var(--gray);
  /* min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: min-content 1fr; */
}

/* Images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style: none;
}

/* Animation */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----------------------------- */
/* Utility Classes               */
/* ----------------------------- */

/* general */
.d-flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.d-grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

/* * + * === *:not(:first-child) with where higher specificity  */

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow-space--small {
  --flow-space: 0.75rem;
}

.container {
  margin-inline: auto;
  max-width: 75rem;
  width: 90%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
  background: hsl(var(--light));
  color: hsl(var(--dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-120%);
  transition: transform 500ms ease-in;
  position: absolute;
  z-index: 1000;
}
.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-primary {
  background-color: var(--primary);
}
.bg-white {
  background-color: white;
}
.bg-primary-light {
  background-color: var(--primary-light);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}

.text-dark {
  color: var(--text-dark);
}
.text-gray {
  color: var(--text-gray);
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.fw-bold {
  font-weight: bold;
}

.h1 {
  font-size: var(--h1);
}

.h2 {
  font-size: var(--h2);
}

.h3 {
  font-size: var(--h3);
}

.body {
  font-size: var(--body);
}

.body-lg {
  font-size: var(--body-lg);
}

.h1,
.h2,
.h3,
.h4 {
  line-height: 1.1;
}
