---
import BaseHead from "../components/BaseHead.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Benefits from "../components/Benefits.astro";
import Courses from "../components/Courses.astro";
import Testimonial from "../components/Testimonial.astro";
import AboutMe from "../components/AboutMe.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";

let title = "Astro Portfolio W52s #3";
let description = "Astro Portfolio W52s #3";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {canonicalURL} {permalink} />
  </head>
  <body>
    <a class="skip-to-content" href="#main-content">Skip to content</a>
    <Navbar />
    <main id="main-content">
      <Hero />

      <Benefits />
      <Courses />
      <Testimonial />
      <AboutMe />
      <CTA />
      <Footer />
    </main>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
      integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script>
      gsap.fromTo(
        ".hero_svg",
        { rotation: -5 },
        {
          rotation: 5,
          yoyo: true,
          repeat: -1,
          duration: 1.5,
          ease: "power.out1",
        }
      );
    </script>
  </body>
</html>
