---
import savingSVG from "/assets/001-saving.svg";
const benefitsArray = [
  { id: 1, icon: "/assets/001-saving.svg", text: "Time-efficient" },
  { id: 2, icon: "/assets/002-paint-brush.svg", text: "Customized" },
  { id: 3, icon: "/assets/003-growth.svg", text: "Focus on Progress" },
];
---

<section id="benefits" class="bg-primary-light">
  <div class="container">
    <h2 class="h2 text-center">Why Choose My Courses?</h2>
    <div class="flex">
      <article class="text-center">
        <img src={savingSVG} alt="" />
      </article>
    </div>
  </div>
</section>
