---
interface Props {
  text: string;
  variant: "primary" | "outline";
}
const { text, variant } = Astro.props as Props;
---

<button class={`btn ${variant === "primary" ? "primary" : "outline"}`}>
  {text}
</button>

<style>
  .btn {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 6px;
  }
  .primary {
    background: var(--primary);
    border: none;
  }
  .outline {
    background: var(--white);
    border: 1px solid var(--primary);
  }
</style>
