---
import Button from "./Button.astro";
---

<section class="container d-flex" id="hero" aria-label="Hero Section">
<div class="hero_text">
  <h1 class="uppercase h1">Bring your <span>Korean</span> to the next level</h1>
  <p class="body-lg">My goal is to teach you Korean anywhere and anytime</p>
  <Button text="start learning" variant="primary"><Button/>
</div>
<div class="hero_image">
<!-- Motarboard START -->
<svg class="motarboard" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.2" clip-path="url(#clip0_2_229)">
<path d="M50.7153 14.6308C43.6665 14.9084 36.0628 15.6228 28.1151 16.7544C26.9885 16.9147 25.9334 17.3869 25.0634 18.1198C21.1406 21.4241 17.4192 24.7529 14.0025 28.014C13.7099 28.2933 13.6991 28.7569 13.9783 29.0496C14.2575 29.3422 14.7211 29.353 15.0138 29.0737C18.4086 25.8334 22.1072 22.5249 26.007 19.2401C26.6668 18.6843 27.467 18.3262 28.3215 18.2046C36.22 17.08 43.7739 16.3701 50.773 16.0944C51.4966 16.0659 51.9618 16.5189 52.1558 16.9522C52.35 17.386 52.378 18.0351 51.8745 18.5563C49.4278 21.0859 46.8044 23.648 44.0245 26.2243C43.9279 26.1746 43.8202 26.1451 43.7074 26.1424L30.6908 25.8326C30.2864 25.8229 29.9507 26.1429 29.9411 26.5474C29.9315 26.9518 30.2515 27.2874 30.6558 27.297L42.5473 27.58C40.242 29.6791 37.837 31.7853 35.3393 33.8892C34.6796 34.4449 33.8793 34.8031 33.0249 34.9247C25.1204 36.0501 17.5668 36.7603 10.5742 37.0357C9.84968 37.0639 9.38432 36.6104 9.19033 36.1766C8.9965 35.7432 8.96877 35.0944 9.47233 34.5738C10.5799 33.4286 11.7387 32.2615 12.9164 31.1049C13.205 30.8215 13.2092 30.3578 12.9258 30.0691C12.6423 29.7805 12.1783 29.7764 11.89 30.0597C10.7033 31.2251 9.53549 32.4013 8.41925 33.5554C7.57327 34.4302 7.35636 35.6637 7.85309 36.7746C8.35003 37.886 9.41454 38.5468 10.6315 38.4995C13.5036 38.3864 16.4703 38.1992 19.5146 37.9421L22.8183 45.3255C23.1783 46.1301 23.9796 46.6383 24.8596 46.6201C29.0809 46.5344 33.6921 46.1324 38.5686 45.4247C38.7681 45.3946 38.9619 45.338 39.1445 45.2562C39.3272 45.1745 39.4985 45.0678 39.6571 44.9365C42.5901 42.4796 45.2792 40.0176 47.6828 37.5919L48.6202 39.6869C47.7008 40.4499 47.3593 41.7606 47.8705 42.9032L49.4456 46.4233C49.6108 46.7925 50.0439 46.958 50.4132 46.7927L54.0606 45.1608C54.4299 44.9956 54.5952 44.5623 54.43 44.1931L52.855 40.673C52.3437 39.5304 51.1388 38.9116 49.9573 39.0886L48.7827 36.4635C49.0865 36.1465 49.3866 35.8302 49.6801 35.5148C50.2812 34.8705 50.4369 33.9341 50.0768 33.1291L49.6029 32.0701C49.4377 31.7009 49.0045 31.5355 48.6352 31.7007C48.2659 31.8659 48.1006 32.2992 48.2658 32.6684L48.7396 33.7274C48.8587 33.9935 48.8075 34.3028 48.6085 34.516C48.4528 34.6833 48.295 34.8509 48.1363 35.0187L44.7808 27.5194C45.0607 27.2609 45.3385 27.0025 45.6151 26.7442L47.0693 29.9942C47.2345 30.3634 47.6676 30.5288 48.037 30.3636C48.4063 30.1983 48.5716 29.7651 48.4064 29.3959L46.7448 25.6823C48.9098 23.6324 50.9752 21.5933 52.9277 19.5746C53.7737 18.699 53.9903 17.4649 53.4929 16.3538C52.9956 15.2431 51.9314 14.5829 50.7153 14.6308ZM51.5178 41.2712L52.7937 44.1227L50.4835 45.1564L49.2076 42.3049C48.9226 41.6679 49.2089 40.918 49.8459 40.6329C50.4829 40.3479 51.2328 40.6343 51.5178 41.2712ZM47.0407 36.1568C44.5695 38.6805 41.7786 41.2483 38.7195 43.8109C38.6128 43.8993 38.4831 43.9561 38.3541 43.9756C33.5413 44.6741 28.9911 45.0711 24.8296 45.1555C24.5391 45.1614 24.2745 44.9934 24.1554 44.7273L21.0586 37.8062C25.0005 37.4451 29.0673 36.9679 33.2313 36.3751C33.7947 36.2949 34.3399 36.1368 34.8533 35.9071C35.3667 35.6774 35.8481 35.3761 36.2831 35.0096C38.8346 32.8604 41.2905 30.7083 43.6432 28.5635L47.0407 36.1568Z" fill="#854D0E"/>
</g>
<defs>
<clipPath id="clip0_2_229">
<rect width="50" height="50" fill="white" transform="translate(0.969727 21.3905) rotate(-24.1054)"/>
</clipPath>
</defs>
</svg>
<!-- Motarboard END -->
<!-- Writing START -->
<svg class="writing" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.2" clip-path="url(#clip0_2_251)">
<path d="M44.56 33.2326C44.29 33.2913 44.0544 33.4548 43.9049 33.6872C43.7555 33.9195 43.7045 34.2017 43.7632 34.4717L45.7535 43.633C45.9294 44.4429 45.7765 45.2895 45.3282 45.9867C44.8799 46.6838 44.1731 47.1742 43.3632 47.3502L20.9689 52.2154C20.159 52.3914 19.3124 52.2384 18.6152 51.7901C17.9181 51.3418 17.4276 50.635 17.2517 49.8251L10.175 17.2516C9.99908 16.4417 10.1521 15.595 10.6003 14.8979C11.0486 14.2008 11.7555 13.7103 12.5654 13.5344L34.9596 8.66919C35.6524 8.51449 36.3772 8.60221 37.013 8.91768C37.6489 9.23315 38.1572 9.75727 38.4531 10.4025C38.5694 10.6531 38.7806 10.8473 39.0401 10.9422C39.2996 11.0372 39.5862 11.0251 39.8369 10.9088C40.0875 10.7924 40.2817 10.5812 40.3766 10.3217C40.4716 10.0622 40.4596 9.77558 40.3432 9.52493C39.8496 8.44904 39.002 7.575 37.9417 7.04875C36.8814 6.52249 35.6727 6.37586 34.5173 6.63334L12.1231 11.4985C10.7741 11.7933 9.59706 12.6111 8.85021 13.7725C8.10336 14.9339 7.84766 16.3442 8.13919 17.6939L15.2159 50.2674C15.5106 51.6164 16.3284 52.7934 17.4898 53.5402C18.6513 54.2871 20.0615 54.5428 21.4112 54.2512L43.8055 49.386C45.1545 49.0913 46.3315 48.2735 47.0783 47.1121C47.8252 45.9506 48.0809 44.5404 47.7893 43.1907L45.799 34.0294C45.7404 33.7594 45.5769 33.5238 45.3445 33.3744C45.1121 33.225 44.8299 33.174 44.56 33.2326Z" fill="#854D0E"/>
<path d="M45.865 12.2534L44.8729 11.9359C44.4817 11.8107 44.0698 11.7638 43.6605 11.7978C43.2513 11.8319 42.8527 11.9463 42.4877 12.1345C42.1227 12.3227 41.7984 12.581 41.5333 12.8947C41.2682 13.2083 41.0674 13.5711 40.9426 13.9624L33.5502 37.0678C33.3043 37.8379 33.2405 38.6545 33.3639 39.4534L33.7872 42.182C33.8464 42.5647 34.011 42.9232 34.2626 43.2176C34.5142 43.5119 34.8428 43.7302 35.2116 43.8481C35.5804 43.9661 35.9748 43.9789 36.3504 43.8852C36.7261 43.7914 37.0682 43.5949 37.3384 43.3175L39.2638 41.3461C39.8273 40.7664 40.2493 40.0644 40.497 39.2948L47.8909 16.1816C48.0159 15.7906 48.0626 15.3789 48.0284 14.9699C47.9942 14.5609 47.8797 14.1626 47.6916 13.7978C47.5035 13.4331 47.2453 13.1089 46.9319 12.8439C46.6185 12.5789 46.2559 12.3783 45.865 12.2534ZM38.5107 38.6551C38.3616 39.1159 38.1077 39.536 37.7689 39.8822L35.8435 41.8536L35.4213 39.1301C35.3486 38.6502 35.388 38.16 35.5366 37.698L41.6598 18.5586L44.6381 19.5105L38.5107 38.6551ZM45.9047 15.5471L45.2698 17.5313L42.2915 16.5794L42.9264 14.5952C42.9679 14.4647 43.0348 14.3437 43.1232 14.2391C43.2116 14.1345 43.3197 14.0483 43.4414 13.9856C43.5631 13.9228 43.696 13.8846 43.8325 13.8733C43.9689 13.8619 44.1063 13.8776 44.2367 13.9193L45.2288 14.2368C45.3593 14.2783 45.4803 14.3452 45.5849 14.4336C45.6895 14.522 45.7757 14.6301 45.8385 14.7518C45.9012 14.8735 45.9394 15.0064 45.9508 15.1429C45.9621 15.2793 45.9465 15.4167 45.9047 15.5471Z" fill="#854D0E"/>
<path d="M36.5076 15.7946C36.4489 15.5247 36.2855 15.2891 36.0531 15.1396C35.8207 14.9902 35.5385 14.9392 35.2685 14.9979L18.9818 18.5362C18.7118 18.5948 18.4762 18.7583 18.3268 18.9907C18.1774 19.2231 18.1264 19.5053 18.185 19.7753C18.2437 20.0452 18.4072 20.2808 18.6395 20.4303C18.8719 20.5797 19.1541 20.6307 19.4241 20.572L35.7108 17.0337C35.9808 16.9751 36.2164 16.8116 36.3658 16.5792C36.5153 16.3468 36.5663 16.0646 36.5076 15.7946Z" fill="#854D0E"/>
<path d="M35.931 22.3157C35.8724 22.0457 35.7089 21.8101 35.4765 21.6607C35.2441 21.5113 34.9619 21.4603 34.692 21.5189L17.255 25.3072C16.985 25.3658 16.7494 25.5293 16.6 25.7617C16.4506 25.994 16.3996 26.2763 16.4582 26.5462C16.5169 26.8162 16.6804 27.0518 16.9127 27.2012C17.1451 27.3507 17.4273 27.4017 17.6973 27.343L35.1343 23.5548C35.4042 23.4961 35.6398 23.3326 35.7893 23.1003C35.9387 22.8679 35.9897 22.5857 35.931 22.3157Z" fill="#854D0E"/>
<path d="M33.7359 29.1884C33.6773 28.9184 33.5138 28.6828 33.2814 28.5334C33.0491 28.384 32.7668 28.333 32.4969 28.3916L18.5819 31.4147C18.3119 31.4733 18.0763 31.6368 17.9269 31.8692C17.7775 32.1016 17.7265 32.3838 17.7851 32.6538C17.8438 32.9237 18.0073 33.1593 18.2396 33.3088C18.472 33.4582 18.7542 33.5092 19.0242 33.4505L32.9392 30.4275C33.2091 30.3688 33.4447 30.2053 33.5942 29.973C33.7436 29.7406 33.7946 29.4584 33.7359 29.1884Z" fill="#854D0E"/>
<path d="M31.5407 36.0611C31.4821 35.7911 31.3186 35.5555 31.0862 35.4061C30.8538 35.2567 30.5716 35.2057 30.3016 35.2643L19.9087 37.5222C19.6387 37.5809 19.4031 37.7444 19.2537 37.9767C19.1042 38.2091 19.0532 38.4913 19.1119 38.7613C19.1705 39.0312 19.334 39.2669 19.5664 39.4163C19.7988 39.5657 20.081 39.6167 20.351 39.5581L30.7439 37.3002C31.0139 37.2415 31.2495 37.078 31.3989 36.8456C31.5484 36.6133 31.5994 36.3311 31.5407 36.0611Z" fill="#854D0E"/>
<path d="M21.2356 43.6297C20.9656 43.6884 20.73 43.8519 20.5806 44.0843C20.4311 44.3166 20.3801 44.5988 20.4388 44.8688C20.4974 45.1388 20.6609 45.3744 20.8933 45.5238C21.1257 45.6732 21.4079 45.7242 21.6779 45.6656L30.9206 43.6576C31.1906 43.5989 31.4262 43.4354 31.5756 43.2031C31.725 42.9707 31.776 42.6885 31.7174 42.4185C31.6587 42.1485 31.4952 41.9129 31.2628 41.7635C31.0305 41.6141 30.7483 41.5631 30.4783 41.6217L21.2356 43.6297Z" fill="#854D0E"/>
</g>
<defs>
<clipPath id="clip0_2_251">
<rect width="50" height="50" fill="white" transform="translate(0.262451 10.8774) rotate(-12.2572)"/>
</clipPath>
</defs>
</svg>
<!-- Writing END -->
<!-- Korea START -->
<svg class="korean" width="63" height="63" viewBox="0 0 63 63" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.2" clip-path="url(#clip0_2_207)">
<path d="M53.5823 16.0019L22.3738 6.00603C19.7098 5.15277 16.8552 6.62235 16.002 9.28634L6.00612 40.4949C5.15286 43.1589 6.62244 46.0135 9.28643 46.8667L40.495 56.8626C43.159 57.7158 46.0135 56.2462 46.8668 53.5823L56.8627 22.3737C57.7159 19.7097 56.2463 16.8551 53.5823 16.0019ZM46.2233 53.3762C45.4855 55.6798 43.0047 56.9569 40.7011 56.2191L9.49253 46.2232C7.18889 45.4854 5.91175 43.0046 6.64959 40.701L16.6455 9.49244C17.3833 7.1888 19.8641 5.91166 22.1677 6.6495L53.3762 16.6454C55.6799 17.3832 56.957 19.864 56.2192 22.1676L46.2233 53.3762Z" fill="#854D0E"/>
<path d="M17.4533 16.9383C17.537 16.9651 17.6309 16.9597 17.7095 16.9139L27.59 11.8272C27.7599 11.7398 27.8238 11.5403 27.7363 11.3704C27.6489 11.2004 27.4494 11.1366 27.2795 11.224L17.4054 16.3128C17.2354 16.4002 17.1715 16.5997 17.259 16.7696C17.2963 16.8525 17.3697 16.9115 17.4533 16.9383Z" fill="#854D0E"/>
<path d="M18.3416 18.883C18.3853 18.968 18.4587 19.0269 18.5359 19.0517C18.6131 19.0764 18.7135 19.0731 18.792 19.0273L28.6726 13.9406C28.8425 13.8531 28.9064 13.6537 28.8189 13.4837C28.7315 13.3138 28.532 13.2499 28.3621 13.3374L18.4879 18.4261C18.3245 18.5157 18.2606 18.7152 18.3416 18.883Z" fill="#854D0E"/>
<path d="M19.4327 20.992C19.4765 21.077 19.5498 21.136 19.627 21.1607C19.7042 21.1854 19.8046 21.1821 19.8831 21.1363L29.7617 16.0561C29.9316 15.9686 29.9955 15.7691 29.908 15.5992C29.8205 15.4293 29.621 15.3654 29.4511 15.4529L19.577 20.5416C19.4091 20.6226 19.3432 20.8285 19.4327 20.992Z" fill="#854D0E"/>
<path d="M48.926 28.679C48.9697 28.7639 49.0431 28.8229 49.1203 28.8476C49.1975 28.8724 49.2979 28.869 49.3764 28.8232C49.5463 28.7358 49.6102 28.5363 49.5228 28.3664L44.4425 18.4879C44.355 18.3179 44.1556 18.2541 43.9857 18.3415C43.8157 18.429 43.7518 18.6285 43.8393 18.7984L48.926 28.679Z" fill="#854D0E"/>
<path d="M49.6831 23.4797C49.5956 23.3098 49.3962 23.2459 49.2263 23.3334C49.0563 23.4208 48.9924 23.6203 49.0799 23.7902L51.0394 27.5963C51.0831 27.6813 51.1564 27.7403 51.2337 27.765C51.3109 27.7897 51.4113 27.7864 51.4898 27.7406C51.6597 27.6531 51.7236 27.4536 51.6361 27.2837L49.6831 23.4797Z" fill="#854D0E"/>
<path d="M47.9142 21.5154C47.9579 21.6004 48.0313 21.6594 48.1085 21.6841C48.1857 21.7088 48.2861 21.7055 48.3646 21.6597C48.5345 21.5722 48.5984 21.3727 48.511 21.2028L46.5515 17.3967C46.4641 17.2268 46.2646 17.1629 46.0947 17.2504C45.9247 17.3379 45.8609 17.5374 45.9483 17.7073L47.9142 21.5154Z" fill="#854D0E"/>
<path d="M47.4138 29.4575L45.4544 25.6514C45.3669 25.4815 45.1674 25.4176 44.9975 25.5051C44.8276 25.5925 44.7637 25.792 44.8512 25.9619L46.8106 29.768C46.8543 29.853 46.9277 29.912 47.0049 29.9367C47.0821 29.9614 47.1825 29.9581 47.261 29.9123C47.4374 29.8269 47.5033 29.621 47.4138 29.4575Z" fill="#854D0E"/>
<path d="M43.6853 23.6871C43.7291 23.7721 43.8024 23.831 43.8796 23.8558C43.9569 23.8805 44.0573 23.8772 44.1358 23.8314C44.3057 23.7439 44.3696 23.5444 44.2821 23.3745L42.327 19.5769C42.2396 19.407 42.0401 19.3431 41.8702 19.4306C41.7003 19.5181 41.6364 19.7175 41.7238 19.8875L43.6853 23.6871Z" fill="#854D0E"/>
<path d="M16.0562 33.107C15.9687 32.9371 15.7692 32.8732 15.5993 32.9607C15.4294 33.0481 15.3655 33.2476 15.453 33.4175L20.5417 43.2917C20.5854 43.3766 20.6588 43.4356 20.736 43.4603C20.8132 43.485 20.9136 43.4817 20.9921 43.4359C21.1621 43.3485 21.2259 43.149 21.1385 42.9791L16.0562 33.107Z" fill="#854D0E"/>
<path d="M11.8273 35.2787C11.7398 35.1088 11.5403 35.0449 11.3704 35.1324C11.2005 35.2198 11.1366 35.4193 11.2241 35.5892L16.3128 45.4633C16.3566 45.5483 16.4299 45.6073 16.5071 45.632C16.5843 45.6567 16.6847 45.6534 16.7633 45.6076C16.9332 45.5201 16.9971 45.3207 16.9096 45.1508L11.8273 35.2787Z" fill="#854D0E"/>
<path d="M17.07 40.2641C16.9825 40.0942 16.783 40.0303 16.6131 40.1178C16.4432 40.2052 16.3793 40.4047 16.4668 40.5746L18.4262 44.3807C18.4699 44.4657 18.5433 44.5247 18.6205 44.5494C18.6977 44.5741 18.7981 44.5708 18.8766 44.525C19.0465 44.4375 19.1104 44.238 19.023 44.0681L17.07 40.2641Z" fill="#854D0E"/>
<path d="M13.4859 34.0433C13.3159 34.1308 13.252 34.3303 13.3395 34.5002L15.299 38.3063C15.3427 38.3912 15.416 38.4502 15.4933 38.4749C15.5705 38.4996 15.6709 38.4963 15.7494 38.4505C15.9193 38.3631 15.9832 38.1636 15.8957 37.9937L13.9363 34.1876C13.8532 34.0262 13.6537 33.9623 13.4859 34.0433Z" fill="#854D0E"/>
<path d="M38.4527 47.1128C38.3653 46.9429 38.1658 46.879 37.9959 46.9665L34.1898 48.9259C34.0198 49.0134 33.956 49.2129 34.0434 49.3828C34.0872 49.4677 34.1605 49.5267 34.2377 49.5514C34.315 49.5762 34.4153 49.5729 34.4939 49.5271L38.3 47.5676C38.4699 47.4801 38.5338 47.2807 38.4527 47.1128Z" fill="#854D0E"/>
<path d="M44.5272 43.9856C44.4397 43.8157 44.2402 43.7518 44.0703 43.8392L40.2642 45.7987C40.0943 45.8862 40.0304 46.0856 40.1179 46.2556C40.1616 46.3405 40.235 46.3995 40.3122 46.4242C40.3894 46.4489 40.4898 46.4456 40.5683 46.3998L44.3744 44.4404C44.5443 44.3529 44.6082 44.1534 44.5272 43.9856Z" fill="#854D0E"/>
<path d="M37.3615 45.0038C37.2741 44.8339 37.0746 44.77 36.9047 44.8575L33.0986 46.8169C32.9287 46.9044 32.8648 47.1039 32.9522 47.2738C32.996 47.3587 33.0693 47.4177 33.1465 47.4424C33.2238 47.4672 33.3242 47.4638 33.4027 47.418L37.2088 45.4586C37.3851 45.3732 37.4511 45.1673 37.3615 45.0038Z" fill="#854D0E"/>
<path d="M42.9792 41.7302L39.1731 43.6897C39.0032 43.7771 38.9393 43.9766 39.0268 44.1465C39.0705 44.2315 39.1438 44.2905 39.2211 44.3152C39.2983 44.3399 39.3987 44.3366 39.4772 44.2908L43.2918 42.327C43.4617 42.2395 43.5256 42.04 43.4381 41.8701C43.3506 41.7002 43.1491 41.6428 42.9792 41.7302Z" fill="#854D0E"/>
<path d="M39.0849 49.0819L35.2788 51.0414C35.1088 51.1288 35.0449 51.3283 35.1324 51.4982C35.1762 51.5832 35.2495 51.6421 35.3267 51.6669C35.4039 51.6916 35.5043 51.6883 35.5829 51.6425L39.389 49.6831C39.5589 49.5956 39.6228 49.3961 39.5353 49.2262C39.4478 49.0563 39.2483 48.9924 39.0849 49.0819Z" fill="#854D0E"/>
<path d="M45.1593 45.9547L41.3532 47.9141C41.1833 48.0016 41.1194 48.2011 41.2069 48.371C41.2506 48.456 41.324 48.5149 41.4012 48.5397C41.4784 48.5644 41.5788 48.5611 41.6573 48.5153L45.4634 46.5558C45.6333 46.4684 45.6972 46.2689 45.6097 46.099C45.5223 45.929 45.3228 45.8652 45.1593 45.9547Z" fill="#854D0E"/>
<path d="M40.7137 34.8037C40.7283 34.78 40.7345 34.7607 40.7428 34.735C40.7737 34.6385 40.8175 34.5461 40.8484 34.4495C42.5116 29.2567 39.6424 23.6835 34.4496 22.0202C29.3854 20.3982 23.9726 23.0989 22.1656 28.0541C22.1489 28.0842 22.1385 28.1164 22.1282 28.1485C22.0994 28.2386 22.0577 28.3246 22.0267 28.4211C20.3656 33.6075 23.2348 39.1807 28.4212 40.8419C33.4897 42.4724 38.9195 39.763 40.7137 34.8037ZM34.2371 22.6617C39.076 24.2115 41.7463 29.4089 40.1985 34.2414C40.182 34.2929 40.1611 34.3358 40.1446 34.3873C36.9846 35.681 33.3147 34.3353 31.7381 31.2833C31.7294 31.2663 31.7186 31.2557 31.7098 31.2387C30.0614 28.0786 26.3772 26.6006 23.0453 27.6334C24.9489 23.4399 29.7456 21.2231 34.2371 22.6617ZM28.6188 40.2028C23.7863 38.655 21.1139 33.4641 22.6617 28.6316C22.6782 28.5801 22.7011 28.5307 22.7176 28.4792C25.8777 27.1855 29.5475 28.5312 31.1241 31.5832C31.1329 31.6002 31.1437 31.6108 31.1524 31.6278C32.0771 33.3926 33.6367 34.6371 35.4191 35.208C36.8155 35.6552 38.3522 35.6863 39.819 35.2266C37.9198 39.4286 33.1167 41.6434 28.6188 40.2028Z" fill="#854D0E"/>
</g>
<defs>
<clipPath id="clip0_2_207">
<rect width="50" height="50" fill="white" transform="translate(15.2515) rotate(17.7599)"/>
</clipPath>
</defs>
</svg>
<!-- Korea END -->
<!-- Knowledge START -->
<svg class="knowledge" width="62" height="62" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.2" clip-path="url(#clip0_2_232)">
<path d="M44.0491 32.3871C45.14 31.9513 46.1232 31.2837 46.9307 30.4305C47.7382 29.5773 48.3507 28.5589 48.7258 27.4457C49.1009 26.3324 49.2298 25.151 49.1033 23.9831C48.9769 22.8152 48.5983 21.6887 47.9936 20.6815C47.4673 19.8022 46.77 19.0374 45.943 18.4322C45.116 17.827 44.1761 17.3937 43.1788 17.1579C39.0392 16.1736 34.8093 18.8091 33.7495 23.0332C33.4354 24.2723 33.4205 25.5683 33.706 26.8142C33.9915 28.0602 34.5693 29.2204 35.3916 30.199C35.4333 30.2509 35.462 30.3119 35.4754 30.3771C35.4889 30.4422 35.4866 30.5096 35.4689 30.5738L35.2132 31.5849C34.7821 31.7067 34.395 31.9495 34.0977 32.2847C33.8004 32.6198 33.6055 33.0331 33.536 33.4757C33.4665 33.9182 33.5253 34.3714 33.7055 34.7815C33.8857 35.1917 34.1798 35.5415 34.5528 35.7896L34.3284 36.6768C34.1768 37.2794 34.2703 37.9175 34.5886 38.4512C34.9068 38.9849 35.4238 39.3706 36.026 39.5236L39.0557 40.2898C39.6582 40.4414 40.2964 40.3479 40.8301 40.0296C41.3638 39.7114 41.7494 39.1944 41.9025 38.5922L42.127 37.7045C42.5731 37.6636 42.9981 37.4956 43.3516 37.2204C43.7051 36.9453 43.9723 36.5745 44.1216 36.1522C44.2708 35.7298 44.2958 35.2734 44.1935 34.8373C44.0913 34.4011 43.8662 34.0034 43.5448 33.6914L43.8004 32.6806C43.8155 32.6154 43.846 32.5548 43.8893 32.5038C43.9325 32.4528 43.9873 32.4128 44.0491 32.3871ZM35.2654 23.4136C36.118 20.0151 39.506 17.8908 42.8178 18.6783C42.8462 18.6855 42.8755 18.6922 42.9044 18.6995C44.4758 19.0968 45.8255 20.101 46.6576 21.492C47.1441 22.3042 47.4486 23.2123 47.5502 24.1536C47.6518 25.095 47.548 26.0471 47.246 26.9445C46.944 27.8418 46.451 28.663 45.801 29.3514C45.151 30.0398 44.3594 30.579 43.4808 30.9319C43.1874 31.0483 42.926 31.2329 42.7182 31.4705C42.5104 31.7081 42.3622 31.9917 42.2859 32.298L42.1075 33.0031L36.8057 31.6624L36.9841 30.9569C37.0626 30.6515 37.0672 30.3318 36.9975 30.0243C36.9278 29.7168 36.7859 29.4303 36.5833 29.1886C35.9215 28.3995 35.4568 27.4642 35.2277 26.4601C34.9985 25.456 35.0114 24.4118 35.2654 23.4136ZM39.4391 38.7751L36.4095 38.0089C36.2087 37.9579 36.0364 37.8294 35.9303 37.6515C35.8242 37.4736 35.7931 37.2608 35.8436 37.06L36.0352 36.3026L40.5796 37.4518L40.3881 38.2092C40.337 38.41 40.2085 38.5823 40.0306 38.6884C39.8527 38.7945 39.64 38.8256 39.4391 38.7751ZM41.7201 36.1285L35.6608 34.5962C35.46 34.5454 35.2875 34.4169 35.1814 34.2389C35.0752 34.061 35.0442 33.8482 35.095 33.6473C35.1458 33.4464 35.2743 33.2739 35.4522 33.1678C35.6302 33.0617 35.843 33.0306 36.0439 33.0814L42.1032 34.6137C42.304 34.6645 42.4765 34.793 42.5826 34.971C42.6887 35.149 42.7198 35.3618 42.669 35.5627C42.6182 35.7635 42.4897 35.936 42.3118 36.0421C42.1338 36.1483 41.921 36.1793 41.7201 36.1285Z" fill="#854D0E"/>
<path d="M43.3053 22.2804C43.731 22.6007 44.0788 23.0131 44.3225 23.4869C44.5662 23.9606 44.6996 24.4833 44.7127 25.0159C44.7212 25.2209 44.81 25.4144 44.9599 25.5545C45.1099 25.6945 45.3089 25.77 45.514 25.7645C45.7192 25.759 45.9139 25.6731 46.0562 25.5252C46.1985 25.3774 46.2769 25.1795 46.2744 24.9743C46.2542 24.2044 46.0601 23.4491 45.7066 22.7648C45.3531 22.0806 44.8494 21.4852 44.2332 21.0232C44.0665 20.9001 43.8577 20.8483 43.6528 20.8791C43.4479 20.91 43.2637 21.021 43.1406 21.1876C43.0175 21.3543 42.9657 21.5631 42.9966 21.768C43.0274 21.9729 43.1384 22.1571 43.3051 22.2802L43.3053 22.2804Z" fill="#854D0E"/>
<path d="M44.6195 15.104L45.0026 13.5892C45.0534 13.3883 45.0223 13.1754 44.9162 12.9975C44.8101 12.8195 44.6376 12.691 44.4367 12.6402C44.2359 12.5894 44.023 12.6205 43.8451 12.7266C43.6671 12.8327 43.5386 13.0052 43.4878 13.2061L43.1047 14.7209C43.0539 14.9218 43.085 15.1346 43.1911 15.3126C43.2972 15.4905 43.4697 15.619 43.6706 15.6698C43.8714 15.7206 44.0843 15.6896 44.2622 15.5834C44.4402 15.4773 44.5687 15.3048 44.6195 15.104Z" fill="#854D0E"/>
<path d="M39.1261 15.4962C39.2524 15.5278 39.3845 15.5275 39.5105 15.4952C39.6366 15.4629 39.7526 15.3996 39.848 15.3111C39.9434 15.2226 40.0152 15.1117 40.0569 14.9885C40.0986 14.8652 40.1089 14.7335 40.0868 14.6053L39.8206 13.0656C39.7853 12.8614 39.6703 12.6796 39.501 12.5602C39.3317 12.4408 39.1218 12.3935 38.9177 12.4288C38.7135 12.4641 38.5317 12.5791 38.4123 12.7484C38.2929 12.9178 38.2456 13.1276 38.2809 13.3318L38.5471 14.8715C38.5728 15.0205 38.6412 15.1588 38.744 15.2697C38.8468 15.3806 38.9795 15.4592 39.1261 15.4962Z" fill="#854D0E"/>
<path d="M34.9028 17.1854C35.056 17.2242 35.2174 17.2157 35.3656 17.1609C35.5138 17.106 35.6419 17.0076 35.733 16.8784C35.8241 16.7493 35.8739 16.5955 35.8758 16.4375C35.8777 16.2795 35.8316 16.1246 35.7437 15.9933L34.8743 14.695C34.759 14.5229 34.58 14.4036 34.3767 14.3634C34.1734 14.3232 33.9624 14.3654 33.7903 14.4807C33.6181 14.5961 33.4988 14.7751 33.4586 14.9784C33.4184 15.1817 33.4606 15.3926 33.576 15.5648L34.4455 16.8625C34.5526 17.0231 34.7156 17.1382 34.9028 17.1854Z" fill="#854D0E"/>
<path d="M32.5855 20.1052C32.6959 19.9298 32.7321 19.7178 32.6861 19.5158C32.6402 19.3137 32.5159 19.1382 32.3405 19.0278L31.0182 18.1955C30.9314 18.1401 30.8344 18.1024 30.733 18.0846C30.6315 18.0668 30.5276 18.0693 30.4271 18.0918C30.3266 18.1143 30.2315 18.1565 30.1474 18.2159C30.0632 18.2753 29.9917 18.3508 29.9368 18.438C29.8819 18.5251 29.8448 18.6223 29.8277 18.7238C29.8105 18.8254 29.8136 18.9294 29.8367 19.0297C29.8599 19.1301 29.9026 19.2249 29.9625 19.3087C30.0225 19.3924 30.0984 19.4635 30.1859 19.5179L31.5082 20.3504C31.5949 20.4051 31.6917 20.4423 31.7928 20.4596C31.894 20.4769 31.9976 20.4741 32.0976 20.4514C32.1977 20.4286 32.2923 20.3863 32.376 20.327C32.4597 20.2676 32.5309 20.1923 32.5855 20.1053L32.5855 20.1052Z" fill="#854D0E"/>
<path d="M30.4658 23.1843L28.9193 22.9617C28.8174 22.9463 28.7135 22.9513 28.6135 22.9762C28.5135 23.0011 28.4194 23.0456 28.3367 23.1071C28.2539 23.1685 28.1842 23.2457 28.1314 23.3343C28.0787 23.4228 28.0439 23.5209 28.0292 23.6229C28.0146 23.7249 28.0202 23.8288 28.0458 23.9286C28.0715 24.0284 28.1166 24.1222 28.1787 24.2045C28.2407 24.2868 28.3184 24.356 28.4073 24.4081C28.4962 24.4603 28.5945 24.4943 28.6966 24.5083L30.2433 24.7309C30.4477 24.759 30.655 24.7051 30.8199 24.581C30.9847 24.4568 31.0938 24.2725 31.1232 24.0682C31.1526 23.8639 31.0999 23.6563 30.9768 23.4907C30.8536 23.3251 30.6699 23.215 30.4658 23.1843Z" fill="#854D0E"/>
<path d="M51.1761 30.0245L52.6425 30.5639C52.8367 30.6343 53.0509 30.6249 53.2381 30.5378C53.4254 30.4507 53.5706 30.293 53.6419 30.0991C53.7132 29.9053 53.7049 29.6911 53.6187 29.5034C53.5325 29.3157 53.3755 29.1697 53.182 29.0975L51.7155 28.5581C51.619 28.522 51.5164 28.5053 51.4135 28.5089C51.3105 28.5126 51.2093 28.5366 51.1157 28.5795C51.0221 28.6225 50.9379 28.6835 50.8679 28.7591C50.798 28.8347 50.7437 28.9233 50.7081 29.02C50.6726 29.1167 50.6565 29.2194 50.6608 29.3223C50.6651 29.4252 50.6897 29.5262 50.7332 29.6196C50.7767 29.713 50.8382 29.7968 50.9142 29.8663C50.9902 29.9358 51.0792 29.9896 51.1761 30.0245Z" fill="#854D0E"/>
<path d="M51.902 25.5472C51.9816 25.5673 52.0638 25.5747 52.1457 25.5691L53.7047 25.4655C53.8071 25.4587 53.9071 25.4318 53.9991 25.3863C54.091 25.3408 54.1731 25.2777 54.2407 25.2005C54.3083 25.1233 54.36 25.0335 54.3929 24.9364C54.4257 24.8392 54.4392 24.7365 54.4323 24.6341C54.4255 24.5317 54.3986 24.4317 54.3532 24.3397C54.3077 24.2478 54.2446 24.1657 54.1674 24.0981C54.0901 24.0305 54.0004 23.9788 53.9032 23.9459C53.806 23.913 53.7033 23.8996 53.601 23.9064L52.042 24.0101C51.8563 24.0223 51.681 24.1004 51.5477 24.2303C51.4145 24.3602 51.3319 24.5335 51.3151 24.7188C51.2982 24.9042 51.348 25.0895 51.4556 25.2414C51.5632 25.3932 51.7215 25.5017 51.902 25.5472Z" fill="#854D0E"/>
<path d="M51.2194 21.1044L52.6012 20.376C52.7845 20.2794 52.9218 20.1139 52.9831 19.9159C53.0443 19.7179 53.0244 19.5038 52.9278 19.3205C52.8311 19.1372 52.6656 18.9998 52.4676 18.9386C52.2697 18.8773 52.0555 18.8972 51.8722 18.9939L50.4903 19.7226C50.3096 19.8206 50.1749 19.986 50.1153 20.1828C50.0557 20.3796 50.0761 20.5919 50.172 20.7738C50.268 20.9556 50.4317 21.0923 50.6278 21.1542C50.8239 21.2161 51.0364 21.1982 51.2194 21.1044Z" fill="#854D0E"/>
<path d="M47.751 17.6773C47.8975 17.7144 48.0516 17.7083 48.1947 17.6596C48.3378 17.6109 48.4636 17.5217 48.5571 17.4029L49.5232 16.1748C49.6513 16.012 49.7095 15.8049 49.6849 15.5992C49.6603 15.3934 49.5551 15.2059 49.3922 15.0777C49.2294 14.9496 49.0223 14.8915 48.8165 14.916C48.6108 14.9406 48.4232 15.0459 48.2951 15.2087L47.329 16.4368C47.2486 16.5391 47.1951 16.6599 47.1732 16.7881C47.1512 16.9164 47.1617 17.0481 47.2036 17.1713C47.2455 17.2945 47.3174 17.4053 47.413 17.4936C47.5085 17.582 47.6246 17.6451 47.7506 17.6772L47.751 17.6773Z" fill="#854D0E"/>
<path d="M47.4276 52.0771L37.5813 49.5871L37.7728 48.8297C38.0604 47.6925 36.7899 46.4899 36.3937 46.1485C36.3597 46.1192 36.3233 46.0929 36.2848 46.0698L29.4341 41.9711C29.0698 41.438 27.761 39.5588 26.0842 37.5643C23.407 34.3801 21.1711 32.5436 19.4385 32.1055L13.3793 30.5731L13.5708 29.8157C13.6216 29.6149 13.5906 29.402 13.4844 29.2241C13.3783 29.0461 13.2058 28.9176 13.005 28.8668L8.46053 27.7176C8.25965 27.6668 8.04683 27.6978 7.86886 27.804C7.6909 27.9101 7.56238 28.0825 7.51159 28.2834L3.29771 44.9464C3.24691 45.1472 3.27799 45.3601 3.38411 45.538C3.49023 45.716 3.6627 45.8445 3.86358 45.8953L8.40802 47.0445C8.60889 47.0953 8.82172 47.0643 8.99968 46.9581C9.17765 46.852 9.30616 46.6796 9.35696 46.4787L9.5485 45.7213L11.7854 46.287C12.242 46.4693 15.9143 48.2099 19.1604 49.7485C25.6531 52.8259 26.5731 53.25 26.7862 53.3039L45.8952 58.1363C46.4978 58.288 47.136 58.1944 47.6697 57.8762C48.2034 57.5579 48.589 57.041 48.7421 56.4387L49.1252 54.9239C49.2768 54.3213 49.1832 53.6832 48.865 53.1495C48.5467 52.6158 48.0298 52.2301 47.4276 52.0771ZM8.03369 45.3382L5.00406 44.572L8.83486 29.4239L11.8645 30.1901L8.03369 45.3382ZM47.2273 56.0557C47.1763 56.2564 47.0477 56.4287 46.8698 56.5348C46.6919 56.6409 46.4792 56.6721 46.2783 56.6215L27.2046 51.798C26.7479 51.6156 23.0757 49.8751 19.8301 48.3366C13.3368 45.259 12.4169 44.835 12.2038 44.7811L9.93158 44.2065L12.9962 32.088L19.0555 33.6203C21.9214 34.345 26.6536 40.6277 28.2352 42.9875C28.2995 43.0834 28.3841 43.1638 28.4831 43.2231L35.4213 47.3741C35.8305 47.7401 36.2275 48.2623 36.2517 48.4696L35.8745 49.9613C35.8262 50.1513 35.7083 50.3162 35.5442 50.4234C35.3802 50.5307 35.1818 50.5724 34.9884 50.5404L27.9943 47.2039L23.5499 42.9215C23.476 42.8501 23.3888 42.794 23.2933 42.7564C23.1977 42.7188 23.0957 42.7003 22.993 42.7022C22.8904 42.704 22.7891 42.7261 22.6949 42.7671C22.6008 42.8081 22.5157 42.8673 22.4444 42.9412C22.3732 43.0152 22.3172 43.1024 22.2797 43.198C22.2422 43.2936 22.2239 43.3957 22.2259 43.4984C22.2279 43.601 22.2501 43.7023 22.2912 43.7964C22.3324 43.8905 22.3917 43.9755 22.4657 44.0467L27.0014 48.4171C27.0618 48.4754 27.1313 48.5235 27.2071 48.5597L34.398 51.9899C34.4445 52.012 34.493 52.0295 34.5429 52.0421C35.0128 52.1603 35.5078 52.1303 35.96 51.9561C36.4121 51.7819 36.7993 51.472 37.0684 51.0691L47.0445 53.5919C47.2452 53.6429 47.4176 53.7715 47.5236 53.9494C47.6297 54.1273 47.6609 54.34 47.6104 54.5408L47.2273 56.0557Z" fill="#854D0E"/>
</g>
<defs>
<clipPath id="clip0_2_232">
<rect width="50" height="50" fill="white" transform="translate(12.8922 0.633728) rotate(14.1919)"/>
</clipPath>
</defs>
</svg>
<!-- Knowledge END -->
<!-- Success START -->
<svg class="success" width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.2" clip-path="url(#clip0_2_245)">
<path d="M2.51027 38.3635L2.18612 39.9266L26.7044 45.6539L29.7126 48.4117L28.2985 52.8831L25.6316 53.2634C24.6612 53.3647 23.8496 54.0788 23.6116 55.1052L23.0886 57.2237L37.0885 60.7883L37.6301 58.7831C37.934 57.804 37.5404 56.8235 36.6846 56.2093L34.5119 54.6497L35.359 50.9682L39.2951 51.5991C40.5476 51.7996 41.6988 51.0298 42.0312 49.8719L45.5085 37.1059C45.8695 35.7689 45.081 34.5045 43.7913 34.0776C43.7913 34.0776 43.7258 34.0305 43.6785 34.0964L40.0628 33.2965L40.3765 32.0254L43.1666 31.3351C45.0704 30.9057 46.7682 29.9301 48.1 28.492L51.663 27.5581C53.9535 27.0073 55.2495 24.6459 54.699 22.3551C54.5774 21.9688 54.4558 21.5824 54.2871 21.2617C53.7991 20.4126 53.1222 19.8269 52.1904 19.4577L52.4182 18.723C52.8449 17.4336 52.0382 16.0563 50.7671 15.7426L33.2844 10.7755C31.9474 10.4145 30.6177 11.1556 30.304 12.4267L30.2567 12.4926L29.9716 13.5846C27.6927 13.1461 25.485 14.554 24.8488 16.691C24.3647 18.3386 24.8881 20.1107 26.129 21.3004L28.9871 23.8506C29.5762 25.6704 30.665 27.3496 32.0851 28.568L34.1156 30.325L33.8019 31.5961C33.1519 31.5285 32.4919 31.7532 31.9352 32.2513L29.8676 34.1588L9.1258 29.1465L8.689 30.7282L20.552 33.6572L17.9706 41.9788L2.51027 38.3635ZM36.0298 58.2331L35.8783 58.7224L25.0412 56.0315L25.1274 55.4947C25.2505 55.1842 25.5053 54.9682 25.7788 54.8654L29.5293 54.3651L33.0216 55.4753L35.6551 57.3655C35.9842 57.6017 36.0876 57.8751 36.0298 58.2331ZM33.0166 53.6759L30.0793 52.7648L31.0192 49.649C31.3669 49.9979 31.7431 50.1686 32.2142 50.2072L33.7114 50.4841L33.0166 53.6759ZM43.4303 35.4146C43.8541 35.519 44.1546 35.9344 44.0501 36.3582L43.5843 38.1187L39.6023 36.8568L39.0996 38.3911L43.0816 39.6531L42.3592 42.3268L38.5093 41.1592L38.0063 42.6939L41.9224 43.9085L41.2006 46.5822L37.4633 45.396L36.9603 46.9307L40.8105 48.0981L40.5255 49.1901C40.421 49.6138 40.0529 49.8484 39.6292 49.7439L32.5854 48.5785C32.4063 48.5498 32.2748 48.4554 32.143 48.3608L28.0445 44.6208L30.8535 35.5648L33.0629 33.4596C33.2705 33.3096 33.5439 33.2062 33.7889 33.2822L43.4303 35.4146ZM52.9098 22.0684C53.6323 23.2855 53.2614 24.9145 51.997 25.7029C51.7895 25.853 51.5634 25.8904 51.2899 25.9932L49.791 26.4136C50.1979 25.7082 50.4914 25.0211 50.7665 24.2211L51.7533 21.0391C52.2616 21.3041 52.6094 21.6536 52.9098 22.0684ZM26.4017 17.3069C26.8104 15.9042 28.1215 15.05 29.5531 15.2792L28.8679 18.1794C28.6302 19.2055 28.5241 20.3265 28.5781 21.3628L27.2901 20.2386C26.4157 19.5112 26.0511 18.3518 26.4017 17.3069ZM33.2461 27.5062C30.7358 25.3055 29.5943 21.8925 30.4496 18.6162L31.857 13.0426C31.9614 12.6188 32.3768 12.3183 32.8003 12.4231L50.2827 17.3899C50.5277 17.4659 50.6591 17.5603 50.8095 17.7681C50.8937 17.9283 50.9311 18.1544 50.8551 18.3994L49.1845 23.7841C48.2264 26.7869 45.8097 29.0424 42.7935 29.7702L39.0514 30.6754L38.5098 32.6806L35.4309 31.967L35.9539 29.8486L33.2461 27.5062ZM22.1809 34.0281L24.1203 34.5224L22.1748 40.7073L23.7092 41.21L25.6834 34.8465L29.0729 35.6833L26.5386 43.9393L19.5993 42.35L22.1809 34.0281Z" fill="#854D0E"/>
<path d="M53.9817 35.3067L53.5091 35.9651L54.8258 36.9102L55.2984 36.2518C56.6214 34.4086 59.1096 33.9997 60.9528 35.3228L61.8979 34.006C60.0547 32.683 59.6456 30.1952 60.9688 28.3516L61.4414 27.6932L60.1247 26.7482L59.6521 27.4065C58.3289 29.2501 55.8412 29.6588 53.9977 28.3356L53.0526 29.6523C54.8962 30.9755 55.3047 33.4635 53.9817 35.3067ZM58.6093 30.2492C58.5318 31.1911 58.6802 32.0959 59.0552 32.9632C58.1133 32.8858 57.2086 33.0347 56.341 33.4095C56.4184 32.4675 56.2701 31.5627 55.8953 30.6951C56.837 30.7729 57.7417 30.624 58.6093 30.2492Z" fill="#854D0E"/>
<path d="M15.5633 27.6821L15.0908 28.3405L16.4075 29.2856L16.88 28.6272C18.2031 26.7839 20.6912 26.3751 22.5345 27.6981L23.4796 26.3814C21.6363 25.0584 21.2272 22.5706 22.5505 20.727L23.023 20.0686L21.7063 19.1236L21.2338 19.7819C19.9105 21.6255 17.4229 22.0342 15.5793 20.711L14.6343 22.0277C16.4778 23.3509 16.8863 25.8389 15.5633 27.6821ZM20.191 22.6246C20.1135 23.5665 20.2619 24.4713 20.6369 25.3386C19.695 25.2611 18.7903 25.4101 17.9226 25.7849C18.0001 24.8429 17.8517 23.9381 17.4769 23.0705C18.4186 23.1483 19.3233 22.9994 20.191 22.6246Z" fill="#854D0E"/>
<path d="M54.1514 43.4088L54.624 42.7505L53.3073 41.8054L52.8347 42.4637C51.5115 44.3073 49.0239 44.716 47.1803 43.3928L46.2352 44.7095C48.0788 46.0327 48.4873 48.5207 47.1643 50.364L46.6918 51.0223L48.0085 51.9674L48.481 51.309C49.804 49.4658 52.2922 49.0569 54.1355 50.38L55.0805 49.0633C53.2373 47.7402 52.8282 45.2524 54.1514 43.4088ZM49.5236 48.4667C49.6011 47.5248 49.4527 46.62 49.0779 45.7523C50.0196 45.8301 50.9243 45.6812 51.7919 45.3064C51.7145 46.2483 51.8628 47.1531 52.2379 48.0204C51.2959 47.943 50.3912 48.0919 49.5236 48.4667Z" fill="#854D0E"/>
<path d="M40.8704 26.1956L41.1305 27.7787C47.3504 26.7567 47.962 18.8167 47.9066 18.4773L46.2674 18.3981C46.3333 18.4454 45.8462 25.378 40.8704 26.1956Z" fill="#854D0E"/>
</g>
<defs>
<clipPath id="clip0_2_245">
<rect width="50" height="50" fill="white" transform="translate(29.2677 0.112488) rotate(35.6692)"/>
</clipPath>
</defs>
</svg>
<!-- Success END -->


<picture>
<source srcset="assets/Hero-min.webp" type="image/webp">

<img src="assets/Hero-min.png" alt="Hero Image">
</picture>
</div>
</section>
<style lang="scss">
    #hero{
        min-height: calc(100vh - 91px);
        align-items:center;
        justify-content: center;
        flex-direction:column;
        & .hero_image{
            position: relative;
        }
        & svg{
            position: absolute;
            &.motarboard{
                left: calc(30px - 25px);
                top: calc(508px - 381px);
            }
            &.writing{
                left: calc(114px - 25px);
                top: calc(438px - 381px);
            }
            &.korean{
                left: calc(255px - 25px);
                top: calc(395px - 381px);
            }
            &.knowledge{
                left: calc(303px - 25px);
                top: calc(491px - 381px);
            }
            &.success{
                left: calc(299px - 25px);
                top: calc(625px - 381px);
            }
        }
    }
    @media (min-width: 450px) and (max-width: 1250px){
        .motarboard,.writing,.korean,.knowledge,.success{
            display: none;
        }
    }
    @media (min-width: 850px){
       #hero{
        
        height: calc(100vh - 91px);
        flex-direction:row;
        justify-content: space-between;
        & .hero_text{
            flex-basis: 50%;
        }
        & .hero_image{
            flex-basis: 50%;
            & svg{
                   &.motarboard{
                left: calc(1064px - 1048px);
                top: calc(466px - 258px);
            }
            &.writing{
                left: calc(1202px - 1048px);
                top: calc(351px - 258px);
            }
            &.korean{
                left: calc(1432px - 1048px);
                top: calc(280px - 258px);
            }
            &.knowledge{
                left: calc(1504px - 1048px);
                top: calc(658px - 258px);
            }
            &.success{
                left: calc(1512px - 1048px);
                top: calc(438px - 258px);
            }
            }
        }
    } 
    }
</style>